/* You can add global styles to this file, and also import other style files */

.pad{
    padding-right: 10%;
    padding-left: 10%;
  }
  
.previewIcon{
  width:100px;
 height:100px;
  background-size:cover;
  background-repeat:no-repeat;
}